

.jumbotron {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6600+16,d63b26+100 */
background: #ff6600; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ff6600 16%, #d63b26 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ff6600 16%,#d63b26 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ff6600 16%,#d63b26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#d63b26',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

p.userTip {
    background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #d1d1d1;
    color: #bbb;
    font-size: 0.9em;
    padding: 8px 12px;
}

p.userTip:hover {
    color: #000;
}

.userTip > a {
    color: #888;
    text-decoration: underline;
}

.userTip strong {
    color: #a1a1a1;
}

p.userTip:hover, .userTip:hover strong, .userTip:hover > a {
    color: #000;
}

.recentArticles_mediaName {
    background: #EEE;
    color: #999;
    border-top: 3px solid #337ab7;
}

.recentArticles_mediaName  a {
    font-weight: bold;
    /* color: #444; */
}

.recentArticles_mediaData-medium  a {
    color: #AAA;
}

.row_odd {
    background: #e2e2e2;
}

.row_even {
    background: #f1f1f1;
}



/* NAMED ENTITIES */

thead#table-namedEntity tr th {
    vertical-align:bottom;
}



/* row r + h date */

.row-h-date {
    min-width:110px;
}

.row-r-date {
    font-size: .7em;
}



/* row metadata for articles */


shape-type {
    font-size: 1.1em;
    font-weight: bold;
}



.format-base:before {

    content: " \00A0 \00A0 \2261";
    font-size: 20px;
    color: #000;
}

.format-hidden {
    display: none;
}


/* http://www.freeformatter.com/html-entities.html https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references */
.format-descending:before {
    content: " \0394 ";
}

.format-solid:before {
    content: " \039F ";
}

.format-ascending:before {
    content: " \2207 "
}

.format-diamond:before {
    content: " \25CA ";
}

.format-hourglass:before {
    content: " \0398";
}


thead#table-namedEntity tr th.socialmedia div.th-inner.sortable.both span.hiddentext {
    font-size: 0;
}






/* social media */
/*
thead#table-namedEntity tr th.socialmedia div.th-inner {
    padding: 0;
    margin: 0;
    border: 1px solid red;
    height: 24px;
    width: 24px;
}

thead#table-namedEntity tr th.socialmedia div.th-inner div.th-inner.sortable.both {
    border: 1px solid blue;
    padding-right: 12px;
    padding-left: 1px;
    margin: 0;
} */



table#namedEntity-table tbody tr td.row-social,
table#namedEntity-table tbody tr td.row-r-article-metadata {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    /*font-size: .8em;*/
}
/*
thead#table-namedEntity tr th.row-h-fbshare.socialmedia,
thead#table-namedEntity tr th.row-h-fblike.socialmedia,
thead#table-namedEntity tr th.row-h-fbCom.socialmedia,
thead#table-namedEntity tr th.row-h-gplus.socialmedia,
thead#table-namedEntity tr th.row-h-linkedIn.socialmedia,
thead#table-namedEntity tr th.row-h-pinterest.socialmedia {
    /* border: 3px solid red; */
   /* margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: #fff;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}
*/

thead#table-namedEntity tr th.socialmedia {
    background-color: #fff;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.darknumber {
    font-weight: bold;
}

.lightnumber {
    color: #bbb;
}

.smallfont {
    font-size: .8em;
}

thead#table-namedEntity tr th.row-h-fbshare.socialmedia,
thead#table-namedEntity tr th.row-h-fblike.socialmedia,
thead#table-namedEntity tr th.row-h-fbCom.socialmedia {
    background-image: url('images/drmst-facebook.svg');
}

thead#table-namedEntity tr th.row-h-gplus.socialmedia {
    background-image: url('images/drmst-googleplus.svg');
}

thead#table-namedEntity tr th.row-h-linkedIn.socialmedia {
    background-image: url('images/drmst-linkedin.svg');
}

thead#table-namedEntity tr th.row-h-pinterest.socialmedia {
    background-image: url('images/drmst-pinterest.svg');
}




/* .recentArticles_mediaData */



/* FORMS */

label#magnet-search {
    color: #fff;
}


/* Media Queries */

@media (max-width: 1200px) and (min-width: 992px) {
    #myNavbar {
        float: left;

    }

    #searchInputGroup {
        width: 65%;
        margin-top: 5px;
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: top;
    }

    label#magnet-search {
        color: #fff;
        width: 30%;
        padding-top: 2px;
        padding-bottom: 0;
        margin: 0;
    }

    #nav-search {
        max-width: 30%;
        margin: 0;
        padding: 0;

    }

    .navbar-form {
        margin: 0;
        padding: 0px 0 0px 0;
    }
}

@media (min-width: 767px) and (max-width: 992px) {


    div#myNavbar.collapse.navbar-collapse.navbar-left ul.nav.navbar-nav li.dropdown a.dropdown-toggle.about-nav-link,
    div#myNavbar.collapse.navbar-collapse.navbar-left .contact-nav-link,
    div#myNavbar.collapse.navbar-collapse.navbar-left .donate-nav-link {
        font-size: 0;
    }

    div#myNavbar.collapse.navbar-collapse.navbar-left ul.nav.navbar-nav li.dropdown a.dropdown-toggle.about-nav-link:before,
    div#myNavbar.collapse.navbar-collapse.navbar-left .contact-nav-link:before,
    div#myNavbar.collapse.navbar-collapse.navbar-left .donate-nav-link:before {
        line-height:1;
        padding: 2px 0px;
        font-family:"Glyphicons Halflings";
        font-size: 15px;
        display:inline-block;
    }

    div#myNavbar.collapse.navbar-collapse.navbar-left ul.nav.navbar-nav li.dropdown a.dropdown-toggle.about-nav-link:before {
        content: "\e122";
    }

    div#myNavbar.collapse.navbar-collapse.navbar-left li a.donate-nav-link:before {
        content: "\e225";
    }

    div#myNavbar.collapse.navbar-collapse.navbar-left li a.contact-nav-link:before {
        content: "\2709";
    }

}


@media (max-width: 742px) {
    #nav-search {

        max-width: 50%;
        position: absolute;
        right: 0;
    }


}

@media (max-width: 767px) {

    nav.navbar.navbar-inverse.navbar-fixed-top div.container div#myNavbar.navbar-collapse.navbar-left.collapse.in {
        max-height: 400px;
    }

    nav.navbar.navbar-inverse.navbar-fixed-top div.container div.navbar-header a.navbar-brand {
        font-size: 0;
        float: left;
        padding: 12px 15px 15px 12px;
    }

    .navbar-inverse .navbar-brand::before {
        content: "";
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-size: 22px;
        line-height: 1;
        padding: 0 0 0 1px;
        width: 22px;
    }

    /*
    .navbar-inverse .navbar-nav > li > a::before */
    .navbar-header {
        float: left;
        margin-right: 0 !important;
        padding: 0 !important;
        width: 35%;
        max-width: 130px;
    }

    #nav-search {
        width: 68%;
        min-height: 50px;
        float: right !important;
        padding: 0;

    }

    .input-group {
        border-collapse: separate;
        display: table;
        float: left;
        position: absolute;
        width: 65%;
    }

    label#magnet-search {
        color: #fff;
        float: right;
        width: 30%;
        font-size: 8px;
        padding-right: 5px;
    }

    .navbar-form {
        border-bottom: 0 solid transparent;
        border-top: 0 solid transparent;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset, 0 0 0 rgba(255, 255, 255, 0);
        margin: 0;
        padding: 10px 1px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #000;
    }

    .navbar-inverse button.navbar-toggle {
        margin: 6px 0 !important;
        position: relative;
    }


}


@media (max-width: 992px) {

    #myNavbar {
        float: left;
        max-height: 50px;
    }

    #nav-search {
        margin: 0;
        padding: 0;
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px;
        width: 27%;
    }

    #searchInputGroup {
        width: 68%;
        float: left;
    }

    #magnet-search {
        width: 28%;
        font-size: 10px;
        padding-left: 5px;
    }

    .navbar-form {
        margin-bottom: 0;
    }


}​
