<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylebootstrap-theme-min.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <!--script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script -->

    <![endif]-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='style/js/bootstrap.js') }}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    {% block head %}

    <title> {% if salute %}
                {{ salute }} -
            {% else %}
                See
            {% endif %} Who's News</title>

    {% endblock %}



</head>
    <body>


        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Who's Hot?</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container theme-showcase" role="main">
                <div class="jumbotron">
                    <h1>Who's news</h1>
                    <p></p>
                </div>



                {% if salute %}
                    <div class="page-header">
                        <h2>{{ salute|safe}}</h2>
                        <p>{{ articleLink }}</p>
                        <hr>
                        <p>{{ soup }}</p>

                    </div>
                {% else %}
                    <div class="page-header">
                        <h2>Overview</h2>
                    </div>
                {% endif %}




                {% block content %}{% endblock %}


        </div>



    </body>


</html>
