<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" -->

    <!-- Optional theme -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/lib/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/lib/bootstrap/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/lib/bootstrap-table/bootstrap-table.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/sticky-header/bootstrap-table-sticky-header.css" />

    <!-- Bootstrap -->
    <!-- link rel="stylesheet" href="{{ url_for('static', filename='style/lib/bootstrap/css/bootstrap.min.css') }}"-->


    <link rel="stylesheet" href="{{ url_for('static', filename='style/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"  charset="utf-8"></script>

    {% block head %}

    <title> {% if salute %}  {{ salute }} - {% elif ne %} Results for: {{ ne }} in the Media. {% endif %} Whos News</title>

    {% endblock %}


</head>
    <body>


        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><span class="glyphicon glyphicon-home" aria-label="HOME" aria-hidden="true"></span></a></li>
                        <li><a href="{{ url_for('namedEntities') }}">Navne</a></li>
                        <li><a href="{{ url_for('mediaNames') }}">Medier</a></li>
                        <li><a href="{{ url_for('omProjektet') }}">Om Projektet <span class="glyphicon glyphicon-bullhorn" aria-label="About the Project" aria-hidden="true"></span></a></li>
                        <li><a href="/">Documentation <span class="glyphicon glyphicon-wrench" aria-label="Documentation" aria-hidden="true"></span></a></li>
                        <li><a href="/">Contact <span class="glyphicon glyphicon-envelope" aria-label="Contact" aria-hidden="true"></span> </a></li>
                        <li><a href="/">Donate <span class="glyphicon glyphicon-piggy-bank" aria-label="Donate" aria-hidden="true"></span></a ></li>
                        <!--Search bar-->
                        <li>
                                <!--<div class="col-md-6 col-md-offset-3">-->

                            <form class="navbar-form navbar-left" method="POST" action="{{ url_for('namedEntities' )  }}" role="search">

                                <div class="form-group">
                                    <input type="text" name="searchTerm" class="form-control" placeholder="Search for names">
                                </div>
                                <button type="submit" name="submit" value="Submit" class="btn btn-default">Go!</button>
                                <label data-toggle="tooltip" data-placement="bottom" data-html="true" title="Extended Magnet Search"  style="color:white"><input type="checkbox" name="fuzzy" value=""> <span  class="glyphicon glyphicon-magnet" aria-label="Extended 'Magnet' Search" aria-hidden="true"></span>SE MAGNET</label>

                            </form>
                                <!--</div>-->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container theme-showcase" role="main">

            <div class="jumbotron">
                {% if ne %}<h1>Scorecard for <span class="label label-success">{{ ne }} {% if isFuzzy==True %}*{% endif %}</span> </h1>
                {% if isFuzzy==True %}<small><b>*</b> Via extended search. Including: (<i>{{ namesSet | safe  }}</i>)</small>{% endif %}
                <p>Share/tweet scoreboard </p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Tweet</a>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Facebook</a>

                {% else %} <h1>Whos news</h1>  {% endif %}
                <p>...</p>

            </div>

            <!--<ol class="breadcrumb">-->
                <!--<li><a href="#">Home</a></li>-->
                <!--<li><a href="#">Library</a></li>-->
                <!--<li class="active">Data</li>-->
            <!--</ol>-->

            <div class="page-header">

                <h1>{% if header %}  {{ header | safe }}  {% endif %} {% if subText %} <small> {{ subText | safe }} </small>  {% endif %}</h1>

                <p> {% if subHeader %}  {{ subHeader | safe }}  {% endif %}  </p>
            </div>


                {% block content %}
                {% endblock %}


        </div>




        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <script src="{{ url_for('static', filename='style/lib/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='style/lib/bootstrap-table/bootstrap-table.js') }}"></script>
        <script src="{{ url_for('static', filename='style/lib/bootstrap-table/bootstrap-table.js') }}"></script>



        <!-- put your locale files after bootstrap-table.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table-locale-all.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/mobile/bootstrap-table-mobile.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/multiple-search/bootstrap-table-multiple-search.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/natural-sorting/bootstrap-table-natural-sorting.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/multi-column-toggle/bootstrap-table-multi-toggle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/natural-sorting/bootstrap-table-natural-sorting.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/resizable/bootstrap-table-resizable.js"></script>



    </body>


</html>
