{% extends "base.html" %}
{% block content %}


        <div class="row">
            <div class="container">
                <p class="intro">Intro text</p>

                <h2>Hvad kan man bruge det til?</h2>
                <p></p>

                <h2>Hvordan g&oslash;r man?</h2>
                <p></p>

                <h2>Hvem er du?</h2>
                <p></p>

                <h2>Hvorfor har du lavet det?</h2>
                <p></p>
                <h4>Hvorfor er det offentligt tilgengæligt?</h4>
                <p>Jeg forestiller mig, at den her type system allerede findes og bruges i f.eks. markedsføringsøjemed.
                Så min tanke er, at der sikkert er almindelig mennesker, som faktisk gerne vil følge bestemte personer, men har
                svært ved at skrue ned for støjen og sidde og kigge med på alle medier. </p>

                <h4>Men stjæler du ikke mediernes indhold?</h4>
                <p>Tjenesten her er ikke meget anderledes end at google og andre søgemaskiner henter mediernes artikler og kører det
                igennem en sorteringsmaskine. Mit fokus er mere snævert, på navne, og jeg vil også påstå at resultaterne
                er mere transparante, idet du på et meget granulært niveau, kan se præcis hvor al data kommer fra. Så på den måde er projektet med til at skabe
                overblik og filtrere.
                Og for at vende den om, så er medierne også gået lidt amok med sporings af brugerne, hvor det er usikkert, hvor den data de gemmer om
                dig og mig bliver brugt henne. Det er jo nok ikke kun hos de enkelte medier... så på den måde er medierne med til,
                ved at de står for en stor del af web-trafik, med til at spore os alle sammen.</p>
                <p>Jeg føler også, at medierne er meget vigtige at holde fast i, og i og med at mediebilledet bliver mere fragmenteret, så synes jeg
                at det er på sin plads, at bygge en tjeneste der prøver at samle trådene. Al data som findes her på sitet kan spores tilbage til
                den oprindelige artikel, og det er mit håb, at folk bruger den her tjeneste som et suplement til at følge med i, og filtrere nyhedsstrømmen,
                og på sin vis, håber jeg også, at det kan være med til skære ned på fake-news i og med, at man får en oversigt og kan danne sig et overblik, som
                    man kan klikke på, men
                samtidigt, så er det ikke som google, som søger på tværs af alle hjemmesider, men her bruger vi en kureret samling af proffesionelle medier.</p>

                <h2>Metode og andre tekniske ting</h2>
                <p>At sætte en computer til automatisk at gennemgå elektroniske dokumenter, vil til hver en tid være en svær opgave. Selvom HTML hjemmesider er
                nogenlunde strengt struktureret, så vil der altid opstå støj som ikke lige kan filtres fra. Det kan også være at navne nævnes i en artikel, men som
                ikke har så meget med artiklen at gøre. Så er der det med stavefejl. Og ikke mindst det at man ofte i journalistiske tekster varierer sproget, og dermed
                også navne. F.eks. er Lars Løkke, Løkke Rasmussen og Lars Løkke Rasmussen samme person (så vidt vi ved!), men for en algoritme, så er det tre unikke
                navne. Det samme gælder genitiv  's'er (ejefald). Jeg har så lagt et et ekstra filtrerings lag henover, som rydder lidt op i det,
                men der vil unægteligt være dubletter.
                Der kan også være sket ændring i HTML'en som gør at der kommer forkert information ind i maskinen. Det forsøges undgået ved flere test om ugen.</p>

                <h4>Sociale Medier</h4>
                <p>Man kan sige at folk kan unlike, noget, og de kan også un-share et link. Men det skere meget meget sjældent,
                så det er ikke en logik jeg har taget højde for. Hvert link bliver tjekket for social media hits et par gange
                i døgnet eller mere, og det kan man se på nogle grafer. Derimod, så vil der i visse tilfælde, når man henter et navn,
                være tilfælde, hvor max (MAX()) ikke er helt rigtigt, på grund af at systemet kigger på højeste værdi, og ikke altid
                seneste, som i teorien, kan være lavere.</p>

                <h2>Småbrok</h2>
                <p>Det undrer mig at medierne laver nogle i blandt weird tekniske løsninger, som god imod god skik på nettet.
                Berlinske der kører med versioner af deres URL, det vil sige at næsten ens indhold findes flere steder på sitet.
                Det vil ødelægge deres Google Juice, men endnu værre, så smider de støj ned i deres eget analyse system, idet det
                bliver svært for dem at skille dubletterne ad.
                http://www.b.dk/globalt/nordkorea-trodser-trump-ved-at-affyre-ballistisk-missil-0
                og http://www.b.dk/globalt/nordkorea-trodser-trump-ved-at-affyre-ballistisk-missil-2</p>
                <p>Så er der Politiken der havde (og har) en betalingsmur, så er baseret på javaScript og CSS, hvilket er en ret skodet løsning.
                Jeg kan faktisk se, at jeg kan tilgå Abonent indhold, hvis jeg besøger politiken via min "terminal", sådan en man brugte i gamle dage til
                at tale med computeren og som stadig bruges af mange programmører til at kode i. Det undrer mig, at man ikke beskytter sin forretning bedre.
                Samtidig, så har jeg adblockere slået til i de to browsere jeg bruger mest (firefox og chrome), så det eneste jeg bruger Safari browseren til,
                det er at læse politiken og nogle andre medier. Altså din forretningsmodel tvinger mig til at bruge en bestemt app. Det er fint nok, at man
                vil tjene på sit indhold. Men i firefox og chrome, så får jeg på politikens hjemmesider ikke engang besked om at de gerne vil have at jeg slå add
                    blocker fra, jeg får bare en besked fra browseren om, at siden ikke findes. Det er både arrogant og dumt. Hjælp dog brugeren - jeres mulige kunde -
                    videre og hen til jeres forretning. Alle andre medier, har en pop op, som siger, "hej, er du sød at fjerne din ad-blocker eller købe abonnement", og
                    så kan man som bruger vurdere, hvad det er man vil.
                Den anden ting, at jeg kan fjerne javascriptet. Og tidligere var det sådan, at Politiken kun ville vise dig 5 gratis artikler på måned, med mindre
                at du slettede dine cookies. D.v.s. at den data, som annonce-afdelingerne brugte til at servere annoncer og måle med, den blev stort set ubrugelig.</p>

                <h2>Planlagte tiltag</h2>
                <p>Der vil langsomt blive lagt et lag semantik, så man kan filtrere efter (nogle) politikere, lande og evt. andre
                egenskaber. Men det er komplekst fordi der kan findes flere ofter omtalte personer med samme navn, visse navne
                er "sværre", man kan f.eks. hedde Sten til fornavn og Abe (Shinzo Abe) til efternavn, hvilket "fucker" lidt med semantikken.
                Og så er der jo også det med stavefejl og </p>





            </div>

        </div>




{% endblock %}